
body {
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    text-shadow: 0px 0px 10px #000;
    margin: 0px;
}

#kc-container-wrapper{
    text-align: center;/*center the kc-content inline-block*/
}
div#kc-content {
    display: inline-block;
    text-align: left;
}

h1#kc-page-title {
    visibility: hidden;
}

/* Change content to change the title of the page*/
div#kc-header::after {
    padding-top: 3px;
    content: 'Cloud Operations Center';
    font-size: 40px;
    line-height: 15px;
    margin-bottom: 8px;
}

div#kc-info {
}

/*title banner size and colour*/
div#kc-header {
    font-size: 0px;
    width:100%;
    background: -webkit-linear-gradient(left,#6C6B45, #565637, #45452C, #373723) !important;
    padding-top: 30px;
    padding-bottom:30px;
    padding-right: 2em;
    padding-left: 3em;
    box-shadow:1px 1px 5px black;
}

#body-img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

div#kc-form {
    width: 350px;
    background:#f7f7f7;
    padding:20px 50px 20px 50px;
    border-radius:5px;
    box-shadow:2px 2px 10px black;
}

div#kc-form label {
    display: block;
    font-size: 16px;
    color:black;
    text-shadow:1px 1px 5px lightgray;
    padding:15px 0 8px 0;
}

#kc-form-buttons {
    text-align:center;
}

div#kc-form-wrapper .text input {
    height:40px;
    font-size: initial;
    border: 1px solid lightgray;
    box-shadow: none;
}

div#kc-form-wrapper .text > div  {
    padding-bottom: 10px;
}

div#info-area {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 100%;
}

div#info-area p {
    margin-right: 30px;
    display: inline;
    text-shadow: none;
}

div#kc-info {
    position:absolute;
    bottom:-50px;
}

input[type=text], input[type=password] {
    font-size: 18px;
    padding:0 5px 0 5px;
    width: 100%;

    height:40px;
    border: 1px solid lightgray;
    box-shadow: none;
}

input[type=submit], .button {
    background: #C3C3B3;
    color:black;

    border: none;

    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);

    font-size: 14px;

    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    width: 150px;
}

input[type=submit]:hover {
    background:#89896A;
    cursor: pointer;
}

div#kc-form-options {
    width: 103%;
    border-top: 1px solid #F1C40F;
    margin-top: 10px;
    padding: 5px 0 5px 0;
}

div#kc-form-options div {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
}

div#kc-form-options div label {
    font-size: 12px;
}

div#kc-feedback {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

div#kc-feedback-wrapper {
    padding: 1em;
}

div.feedback-success {
    background-color: rgba(155,155,255,0.1);
}

div.feedback-warning {
    background-color: rgba(255,175,0,0.1);
}

div.feedback-error {
    background-color: rgba(255,0,0,0.1);
}

div#kc-registration {
    margin-bottom: 20px;
}

div#kc-form-options label{
    display:inline-flex;
}

a {
    color: black;
    text-shadow: none;
}

div#social-login {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    float: right;
    width: 150px;
    padding: 20px 0 200px 40px;
}
div.social-login span {
    display: none;
}
div#kc-social-providers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#kc-social-providers ul li {
    margin-bottom: 20px;
}
div#kc-social-providers ul li span {
    display: inline;
    width: 100px;
}
a.zocial {
    border: none;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -o-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    width: 130px;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.user-icon {
    width:100%;
    text-align: center;
}

.user-icon > div{
    border-radius:80px 80px 80px 80px;
    background:lightgray;
    font-size:60px;
    width:80px;
    height:80px;
    text-align: center;
    vertical-align: middle;
}

.user-icon > div > i {
    margin-top:10px;
}

.center {
    margin: auto;
    width: 50%;
}

.realm-lookup #password {
    display:none;
}

.realm-lookup #kc-form-buttons > .login{
    display:none;
}

#kc-form-buttons > .next{
    display:none;
}

.realm-lookup #kc-form-buttons > .next{
    display:block;
}

.realm-lookup div.rememberMe {
    display:none !important;
}

.step2 #display-email {
  display:inherit;
  width:100%;
  text-align: center;
  padding-top: 20px;
}

.step2 .password-label {
  width:100%;
  text-align: center;
}

.step2 .email-label {
  display:none;
}

#display-email {
  display:none;
}

.kc-feedback-text {
    color:red;
}

.alert {
    padding:10px 0 10px 0;
}

.blue-link {
  color: #0f7ae0;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: underline;
}

#kc-error-message a {
    color: inherit;
}

#powered {
  text-align: center;
  padding: 20px 50px 20px 50px;
}

#powered > div {
  display: table;
  margin: 0 auto;
}

#powered > div > div {
  background: linear-gradient(to right, #fff, #5a5a5a, #3d3d3d, #5a5a5a,#fff);
  width: 120px;
  padding: 2px;
  color: white;
  font-style: italic;
  font-size: smaller;
  font-weight: normal;
  text-shadow: 1px 1px 1px black;
}

#powered > div > img {
  width: 120px;
  padding-top: 4px;
}

.password-policy-msg {
  padding-top: 20px;
  font-size: small;
}

.password-policy-msg ul{
  margin: 5px;
  padding-left: 20px;
}

.back {
  cursor: pointer;
  color:gray;
}

.back span {
  visibility: hidden;
  font-size:small;
  color:white;
  background:black;
  padding:2px;
}

.back:hover {
  color: black;
}

.back:hover span {
  visibility: visible;
}

#btn-back-to-login-step1{
  visibility: hidden;
}

.step2 #btn-back-to-login-step1{
  visibility: visible;
}

#terms-of-use-action-form {
  text-align: center;
}

.disabled-btn {
  color: grey !important;
  background-color: #dddddd !important;
}
